body {
 background: #87CEEB;
}

#playerCards{
 bottom: 2%;
 left: 22%;
 position: absolute;
}

#computerCards{
 position: absolute;
 top: 2%;
 left: 22%;
 margin: auto;
}

#openCards{
    position: absolute;
    top:35%;
    left: 40%;
}

#stockCards{
    position: absolute;
     height: 140px;
     width: 90px;
    top:35%;
    left: 55%;
    background: #cccccc url("../Images/other/close_card.png");
}

#yellowPicker{
    position: absolute;
    top:42%;
    left: 29%;
    height: 30px;
    width: 30px;
    background: yellow;
}

#redPicker{
    position: absolute;
    left: 27%;
    top:40%;
    height: 30px;
    width: 30px;
    background: #FF0000;
}

#bluePicker{
    position: absolute;
    top:42%;
    left: 25%;
    height: 30px;
    width: 30px;
    background:	#000080;
}

#greenPicker{
    position: absolute;
    top:45%;
    left: 27%;
    height: 30px;
    width: 30px;
    background: #008000;

}

#pickColor{
    visibility: hidden;
}

/*#stockCards.closeCard{
 position: absolute;
 !*height: 140px;*!
 !*width: 90px;*!
 top: 200px;
 left: 40px;
 !*background: #cccccc url("../Images/other/close_card.png");*!
}*/


#computerCards .closeCard{
 height: 140px;
 width: 90px;
 float: left;
 /*background: #cccccc url("../Images/other/close_card.png");*/
}

#Enter_Game{
    background: #32CD32;
    font-size: 15px;
    color: white;
}

#Restart{
    background: #32CD32;
    font-size: 15px;
    color: white;
    visibility: hidden;
    display: block;
}
/*
<style>
.blue{
width:20px;
height:20px;
    background: #2e6da4;

}
.yellow{
    background: yellow;
}</style>

<div>
  <button class="blue"></button>
  <button class="yellow"></button>
  <button value="opel"></button>
  <button value="audi"></button>
  </div>

 */