.RED1{

}
.RED3{

}
.RED4{

 }
.RED5{

}
.RED6{

}
.RED7{

}
.RED8{

}
.RED9{

}
.BLUE1{

}
.BLUE3{

}
.BLUE4{

}
.BLUE5{

}
.BLUE6{

}
.BLUE7{

}
.BLUE8{

}
.BLUE9{

}
.GREEN1{

}
.GREEN3{

}
.GREEN4{

}
.GREEN5{

}
.GREEN6{

}
.GREEN7{

}
.GREEN8{

}
.GREEN9{

}
.YELLOW1{

}
.YELLOW3{

}
.YELLOW4{

}
.YELLOW5{

}
.YELLOW6{

}
.YELLOW7{

}
.YELLOW8{
 background: #cccccc url("../Images/yellow/yellow_8.png");
 font-weight: bold;
 font-style: italic;
}
.YELLOW9{

}
.REDTAKI{

}
.BLUETAKI{

}
.BLUETAKI{

}
.GREENTAKI{

}
.YELLOWTAKI{

}